footer.site-footer {
  background: $_sis-footer-bg-color;

  color: $_sis-footer-text-color;
  padding: 2.5 * $sis-footer-y-paddination 0 0.5 * $sis-footer-y-paddination;

  ul.footer-menu ul li a,
  ul.footer-sub-menu li a {
    color: $_sis-footer-text-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $_sis-main-color;
    }
  }

  ul.footer-menu ul li a {
    padding-bottom: 0.3 * $sis-footer-y-paddination;
  }
  ul.footer-menu li a {
    font-size: 2 * $_sis-size-base;
    color: $_sis-main-color;
    text-decoration: none;
    cursor: default;
    display: block;
    padding-bottom: 1 * $sis-footer-y-paddination;
  }

  // ul.footer-menu li.menu-item-has-children a {
  //   padding: $sis-footer-y-paddination * 0.5 0;
  // }

  ul.footer-menu ul li a {
    font-size: 1.8 * $_sis-size-base;
  }
  .footer-menu {
    > li {
      padding-right: 15px;
      flex-basis: 33%;

      &:last-child {
        padding-right: 0px;
      }
    }
    .sub-menu {
      list-style: none;
      padding-inline-start: 0;
    }
  }

  ul.footer-sub-menu li {
    padding-top: 0.5 * $sis-footer-y-paddination;
    padding-bottom: 0.5 * $sis-footer-y-paddination;
  }
  @include media-breakpoint-up(md) {
    ul.footer-sub-menu li {
      margin-left: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .footer-menu-continer {
      border-right: 1px solid #000;
      position: relative;

      &::before,
      &::after {
        position: absolute;
        content: "";
        height: 7px;
        width: 7px;
        background-color: #000;
        border-radius: 50%;
        right: -5px;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }

    .main-footer {
      padding-top: 3.5 * $sis-footer-y-paddination;
      padding-bottom: 3.5 * $sis-footer-y-paddination;
    }
    ul.footer-menu ul li a {
      line-height: normal;
    }
    & {
      padding-bottom: 1.5 * $sis-footer-y-paddination;
    }
  }

  @include media-breakpoint-up(lg) {
    $sis-main-footer-padding: 50px;
    .footer-menu-continer {
      padding-right: $sis-main-footer-padding;
    }
    .social-footer {
      padding-left: $sis-main-footer-padding;
    }
    .main-footer {
      padding-top: 4.5 * $sis-footer-y-paddination;
      padding-bottom: 4.5 * $sis-footer-y-paddination;
    }
    & {
      padding-bottom: 1.5 * $sis-footer-y-paddination;
    }
  }

  @include media-breakpoint-up(xl) {
    .main-footer {
      padding-top: 10 * $sis-footer-y-paddination;
      padding-bottom: 10 * $sis-footer-y-paddination;
    }
  }

  @include media-breakpoint-down(lg) {
    ul.footer-menu li a {
      font-size: 1.6 * $_sis-size-base;
    }
    ul.footer-menu ul li a,
    .sis-copyright,
    .sis-footer-sub-menu {
      font-size: 1.4 * $_sis-size-base;
    }
  }

  @include media-breakpoint-down(sm) {
    .footer-menu {
      font-size: 1.6 * $_sis-size-base;
      text-align: center;
    }

    .footer-menu-continer {
      order: 2;
    }
    .sis-copyright {
      text-align: center;
      order: 2;
    }
    .social-footer {
      order: 1;
      padding-top: 1.5 * $sis-footer-y-paddination;
      padding-bottom: 4 * $sis-footer-y-paddination;
    }
    .sis-footer-sub-menu {
      order: 1;
    }
    .footer-sub-menu > * {
      flex-basis: 33%;
    }
    ul.footer-sub-menu li {
      text-align: center;
    }
    .sis-footer-sub-menu,
    .sis-copyright {
      padding-bottom: $sis-footer-y-paddination * 1;
      padding-top: $sis-footer-y-paddination * 1;
    }
  }

  @include media-breakpoint-down(xs) {
    .footer-menu-continer {
      text-align: center;
    }
    .footer-menu > li {
      margin-bottom: 25px;
    }
    ul.footer-menu ul li a {
      padding-bottom: 0.5 * $sis-footer-y-paddination;
    }
  }

  @include media-breakpoint-only(sm) {
    .footer-menu-continer {
      padding-bottom: $sis-footer-y-paddination * 1;
    }
    ul.footer-menu ul li a {
      padding-bottom: $sis-footer-y-paddination * 0.3;
    }
  }

  @import "./social.scss";
}
