#AddShowPost {
}

#sis-add-post {
  background: $_sis-main-color;
  border-radius: 3px;
  position: relative;

  .disclimer {
    font-size: 1.4 * $_sis-size-base;
    text-align: center;
  }
  .sis-add-post-row {
    position: relative;
    padding-left: $sis-sections-y-paddination * 3.5;
    padding-right: $sis-sections-y-paddination * 3.5;
    //padding: $sis-sections-y-paddination * 1.5 $sis-sections-y-paddination * 2;
  }

  .triangle {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid $_sis-bg-color;

      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  h3 {
    padding-top: $sis-sections-y-paddination * 2.5;
    padding-bottom: $sis-sections-y-paddination * 2.5;
    font-size: $_sis-size-base * 3;
  }

  input,
  textarea {
    font-size: $_sis-size-base * 1.6;
    border: none;
    border-radius: 0;
    min-height: 60px;
    padding-left: 15px;
  }

  button {
    background: $sis-add-post-form-btn-bg;
    border-color: $sis-add-post-form-btn-bg;
    color: $sis-add-post-form-btn-color;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  @include media-breakpoint-only(sm) {
    .sis-add-post-row {
      padding-left: $sis-sections-y-paddination * 5;
      padding-right: $sis-sections-y-paddination * 5;
    }
    h3 {
      font-size: $_sis-size-base * 6;
    }
  }

  @include media-breakpoint-up(md) {
    .sis-add-post-row {
      padding-left: $sis-sections-y-paddination * 5;
      padding-right: $sis-sections-y-paddination * 5;
    }
    h3 {
      font-size: $_sis-size-base * 2.8;
    }
  }

  @include media-breakpoint-up(lg) {
    .sis-add-post-row {
      padding-left: 17%;
      padding-right: 17%;
    }

    h3 {
      font-size: $_sis-size-base * 3.5;
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
}
